.hero {
  background-image: url(SiteCloneHero.jpg);
  background-size: cover;
  min-height: 83vh;
  background-position: center;
  /* find a way to only center on mobile */
  /* position: 10vh;  */
}

.tshadow {
  text-shadow: 4px 4px #000000;
}

/* width 100% was all needed when just an image, not bg image */

.raleway-normal {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

header {
  background-color: white;
}

/* Gives the Header/NavBar a color which makes StickyTop include this, not just the logo */

.magic-container {
  position: relative;
}

.magic-card {
  position: absolute;
  top: 40%;
}

.magic-card-spot {
  min-height: 5em;
}

.map-section {
  background-image: url(https://cdn.prod.website-files.com/5c29380b1110ec92a203aa84/66e5ce469b48938aa34d8684_Google%20Maps%20-%20Compressed.jpg);
  background-size: fill;
  min-height: 15vh;
  background-position: center;
}

/* Was testing something, never used it ^ */